## Music Recommendation System (KMeans Model)

This project is aimed upon building a music recommendation system that gives the user recommendations on music based on his music taste by analysing his previously heard music and playlist.

In [43]:
import pandas as pd
import numpy as np

In [44]:
final = pd.read_csv('G:/final.csv')
metadata = pd.read_csv('G:/metadata.csv')

### Model Selection - K Means Algorithm

In [45]:
from sklearn.cluster import KMeans
from sklearn.utils import shuffle

In [46]:
final = shuffle(final)

In [47]:
X = final.loc[[i for i in range(0, 6000)]]
Y = final.loc[[i for i in range(6000, final.shape[0])]]

In [48]:
X = shuffle(X)
Y = shuffle(Y)

In [49]:
metadata.head()

   track_id           album_title artist_name   genre   track_title
0         2  AWOL - A Way Of Life        AWOL  HipHop          Food
1         3  AWOL - A Way Of Life        AWOL  HipHop  Electric Ave
2         5  AWOL - A Way Of Life        AWOL  HipHop    This World
3        10     Constant Hitmaker   Kurt Vile     Pop       Freeway
4       134  AWOL - A Way Of Life        AWOL  HipHop  Street Music

In [50]:
metadata = metadata.set_index('track_id')

In [51]:
# X.drop(['label'], axis= 1, inplace= True)

In [52]:
kmeans = KMeans(n_clusters=6)

In [53]:
Y.head()

,Unnamed: 0,track_id,acousticness,danceability,energy,instrumentalness,liveness,speechiness,tempo,valence,...,Holiday,Salsa,NuJazz,HipHop Beats,Modern Jazz,Turkish,Tango,Fado,Christmas,Instrumental
8164,8164,35553,0.938238,0.596455,0.099731,0.011222,0.121454,0.034656,107.744,0.106295,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9088,9088,40710,0.621373,0.503082,0.736294,0.957138,0.117298,0.071644,97.340,0.557458,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10157,10157,47071,0.789687,0.599050,0.539278,0.064226,0.154878,0.040623,121.111,0.923775,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9549,9549,43096,0.885631,0.505148,0.213765,0.231073,0.097758,0.039608,107.542,0.069409,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6269,6269,26030,0.969903,0.251260,0.160805,0.854744,0.111477,0.031765,146.809,0.103640,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [54]:
def fit(df, algo, flag=0):
    if flag:
        algo.fit(df)
    else:
         algo.partial_fit(df)          
    df['label'] = algo.labels_
    return (df, algo)

In [55]:

def predict(t, Y):
    y_pred = t[1].predict(Y)
    mode = pd.Series(y_pred).mode()
    return t[0][t[0]['label'] == mode.loc[0]]

In [56]:
def recommend(recommendations, meta, Y):
    dat = []
    for i in Y['track_id']:
        dat.append(i)
    genre_mode = meta.loc[dat]['genre'].mode()
    artist_mode = meta.loc[dat]['artist_name'].mode()
    return meta[meta['genre'] == genre_mode.iloc[0]], meta[meta['artist_name'] == artist_mode.iloc[0]], meta.loc[recommendations['track_id']]

In [57]:
t = fit(X, kmeans, 1)

C:\Users\aryan\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [58]:
recommendations = predict(t, Y)

In [59]:
output = recommend(recommendations, metadata, Y)

In [60]:
genre_recommend, artist_name_recommend, mixed_recommend = output[0], output[1], output[2]

In [61]:
genre_recommend.shape

(3892, 4)

In [62]:
artist_name_recommend.shape

(52, 4)

In [63]:
mixed_recommend.shape

(1148, 4)

In [64]:
# Genre wise recommendations
genre_recommend.head()

              album_title     artist_name genre                 track_title
track_id
153        Arc and Sender  Arc and Sender  Rock          Hundred-Year Flood
154        Arc and Sender  Arc and Sender  Rock         Squares And Circles
155       unreleased demo  Arc and Sender  Rock     Maps of the Stars Homes
169          Boss of Goth      Argumentix  Rock                Boss of Goth
170          Nightmarcher      Argumentix  Rock  Industry Standard Massacre

In [65]:
# Artist wise recommendations
artist_name_recommend.head()

,album_title,artist_name,genre,track_title
track_id,,,,
34660,Zehu,51%,AvantGarde|International|Blues|Jazz|,Hadri Ha'Kat
34661,Zehu,51%,AvantGarde|International|Blues|Jazz|,Blender Tzivoni
34662,Zehu,51%,AvantGarde|International|Blues|Jazz|,Naniah
34663,Zehu,51%,AvantGarde|International|Blues|Jazz|,Yoter Miday
34664,Zehu,51%,AvantGarde|International|Blues|Jazz|,"Yamim, Lielot"

In [66]:
# Mixed Recommendations
mixed_recommend.head()

,album_title,artist_name,genre,track_title
track_id,,,,
13201,netBloc Vol. 10: Postmodernism is dead. Postmi...,Ghostown,HipHop,Moy Moy Moy
13566,netBloc Vol. 04: Soundtrack for the Coming Rev...,Sun Zoo,HipHop,New Pirates (featuring DJ HDL)
17021,Split with Jake Vida,Tusk Lord,AvantGarde|International|,Tidal Bore
14694,"Behold My Puny Bears, Vol. I",Het Gloren,AvantGarde|International|,Als Je Lacht
9187,Live at WFMU/Aquarius SXSW show 3/20/2009,Gunslingers,Rock,(title unknown)

In [67]:
recommendations.head()

,Unnamed: 0,track_id,acousticness,danceability,energy,instrumentalness,liveness,speechiness,tempo,valence,...,Salsa,NuJazz,HipHop Beats,Modern Jazz,Turkish,Tango,Fado,Christmas,Instrumental,label
3321,3321,13201,0.252772,0.650640,0.379765,0.558373,0.087998,0.124143,196.093,0.396997,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
3386,3386,13566,0.397475,0.712468,0.262428,0.004183,0.288973,0.278828,93.022,0.396053,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
4321,4321,17021,0.688388,0.196310,0.465892,0.941985,0.108535,0.139271,155.059,0.030413,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
3723,3723,14694,0.783306,0.798496,0.048738,0.005568,0.111024,0.276807,114.486,0.270551,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
2292,2292,9187,0.066027,0.141055,0.732551,0.879857,0.089751,0.043404,181.778,0.201118,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2

In [68]:
artist_name_recommend['artist_name'].value_counts()

51%    52
Name: artist_name, dtype: int64

In [27]:
genre_recommend['genre'].value_counts()

Rock    3892
Name: genre, dtype: int64

In [28]:
genre_recommend['artist_name'].value_counts()

Glove Compartment               65
Blah Blah Blah                  62
Mors Ontologica                 50
Les Baudouins Morts             38
Kraus                           35
                                ..
Alone in 1982                    1
Ostrich Tuning                   1
The Dalai Lama Rama Fa Fa Fa     1
The Rusty Bells                  1
Lost Boy                         1
Name: artist_name, Length: 725, dtype: int64

#### Testing

In [29]:
testing = Y.iloc[6:12]['track_id']

In [30]:
testing

11573    68314
6758     28833
6008     24427
10212    47392
11305    62860
7871     33630
Name: track_id, dtype: int64

In [31]:
ids = testing.loc[testing.index]

In [32]:
songs = metadata.loc[testing.loc[list(testing.index)]]

In [33]:
songs

,album_title,artist_name,genre,track_title
track_id,,,,
68314,Live at WFMU on Scott Williams' Show July 23rd...,Dirty Beaches,AvantGarde|International|Blues|,Sweet 17
28833,The Excluded Middle,MYTY KONKEROR,Rock,Listen if You Linger
24427,Free Beats Sel. 3,Black Ant,HipHop,Michael Vendette
47392,Live @ WFMU on the Three Chord Monte with Joe ...,Overnight Lows,Rock,[Track 7]
62860,"Live on WFMU from Beerland, Austin TX 3/17/2012",The Men,Rock,Ex-Dreams
33630,Intelligent Toys: We Make Music,Broken Chord,Electronic,Improvisation

In [34]:
re = predict(t, Y.iloc[6:12])

In [35]:
output = recommend(re, metadata, Y.iloc[6:12])

In [36]:
ge_re, ge_ar, ge_mix = output[0], output[1], output[2]

In [37]:
ge_re.head()

              album_title     artist_name genre                 track_title
track_id
153        Arc and Sender  Arc and Sender  Rock          Hundred-Year Flood
154        Arc and Sender  Arc and Sender  Rock         Squares And Circles
155       unreleased demo  Arc and Sender  Rock     Maps of the Stars Homes
169          Boss of Goth      Argumentix  Rock                Boss of Goth
170          Nightmarcher      Argumentix  Rock  Industry Standard Massacre

In [38]:
ge_ar.head(10)

                album_title artist_name   genre             track_title
track_id
24419     Free Beats Sel. 3   Black Ant  HipHop                 8bit2 3
24421     Free Beats Sel. 3   Black Ant  HipHop               Black Ant
24422     Free Beats Sel. 3   Black Ant  HipHop               Boomerang
24423     Free Beats Sel. 3   Black Ant  HipHop                    D8M3
24424     Free Beats Sel. 3   Black Ant  HipHop           fACEMELTERmp3
24425     Free Beats Sel. 3   Black Ant  HipHop               Fater Lee
24426     Free Beats Sel. 3   Black Ant  HipHop  government funded weed
24427     Free Beats Sel. 3   Black Ant  HipHop        Michael Vendette
24428     Free Beats Sel. 3   Black Ant  HipHop                Underdog
24429     Free Beats Sel. 3   Black Ant  HipHop                   Oh K.

In [39]:
ge_mix.head(10)

,album_title,artist_name,genre,track_title
track_id,,,,
19546,Live at WFMU on Talk's Cheap 10/13/2009,The Fresh & Onlys,AvantGarde|International|,Endless Love
19589,Antique Phonograph Music Program 10/06/2009,Gene Rodimichs Orchestra,OldTime|Historic,Home Again Blues
21524,Live at WFMU on Brian Turner's show 11/24/2009,The Axemen,Rock,Church of the Loosely Brethren
3563,Live at WFMU on OCDJ's Show on 7/23/2003,Dan Deacon,Electronic,Sine Wave With Vocals
11306,Universal Mind Decoder,Abunai!,Rock,Inspiration
4685,Live at WFMU on Mike's Show on 9/25/2004,Dälek,HipHop,Ever Somber
4244,Live at WFMU on Joe Belock's Show on 7/19/2001,Steve Wynn,Rock,Southern California Line
720,Take A hit,Fuzz Unlimited,Rock,Camera Shy
793,Quickies,Glove Compartment,Rock,The Hymn of the Honeymoon
1087,Kontpab,Mahjongg,Rock,Tell The Police The Truth

In [40]:
ge_re.shape

(3892, 4)

In [41]:
ge_ar.shape

(27, 4)

In [42]:
ge_mix.shape

(2832, 4)